<% if @req.errors.any? %>
  <ul>
  <% @req.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
  <% end %>
  </ul>
    <% end %> 


<%= form_for @req do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :email %>
  <%= f.email_field :email %>
  <br>
  <% Req::DEPARTMENTS.each do |dept| %>
     <%= f.label :department, dept %>
     <%= f.radio_button(:department, dept) %>
  <% end %>
  <br>
  <%= f.label :message %>
  <%= f.text_area :message %>
  <br>
  <%= f.submit %>
<% end %>