<h1>Welcome To Supporter</h1>
<%= link_to "Create", new_req_path %>

<% @reqs.each do |req|%>
<p> Name: <%= req.name %></p>
<p> Email: <%= req.email %></p>
<p> Department: <%= req.department %></p>
<p> Message: <%= req.message %></p>
<%= link_to "Show", req_path(req) %>
<% end %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

