<h1>Welcome To Supporter</h1>
<%= link_to "Create", new_req_path %>

<% @reqs.each do |req|%>
<p> Name: <%= req.name %></p>
<p> Email: <%= req.email %></p>
<p> Message: <%= req.message %></p>
<%= link_to "Show", req_path(req) %>
<% end %>