<h3>Name: <%= @req.name %></h3>
<h3>Email: <%= @req.email %></h3>
<h3>Department <%= @req.department %></h3>
<h3>Message: <%= @req.message %></h3>
<p><%= link_to "Edit", edit_req_path(@req) %> &nbsp <%= link_to "Delete", req_path(@req), 
method: :delete, data: {confirm: "Click OK to delete"} %>
</p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>